*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b1120;
color:white;
scroll-behavior:smooth;
}

/* NAVBAR */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,0.6);
position:fixed;
width:100%;
top:0;
z-index:1000;
}

nav a{
color:white;
margin-left:25px;
text-decoration:none;
}

nav a:hover{
color:#38bdf8;
}

/* HERO */
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:radial-gradient(circle at top,#1e3a8a,#020617);
}

.hero span{
color:#38bdf8;
}

.btn{
margin-top:25px;
padding:12px 35px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:30px;
}

/* SECTIONS */
section{
padding:120px 20%;
text-align:center;
}

h2{
margin-bottom:20px;
}

/* SKILLS */
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skills-grid div{
background:#1e293b;
padding:25px;
border-radius:12px;
}

/* PROJECTS */
.project-card{
background:#1e293b;
padding:25px;
border-radius:12px;
margin:20px auto;
width:70%;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:black;
}

/* MOBILE */
@media(max-width:768px){
section{
padding:120px 10%;
}
.project-card{
width:100%;
}
header{
flex-direction:column;
}
}
